{% extends 'base.html' %}

{% block content %}
<h1>{{ app_name }}</h1>

<h5>Appname:</h5>
<p>{{ app_name }}</p>

<h5>Name:</h5>
<p>{{ name }}</p> 

<h5>Class:</h5>
<p>{{ class }}</p> 

<p>Anda ingin membeli sebanyak {{ jumlah_item }} buku pada aplikasi ini </p> 

<style>
     table th, table td {
        padding-left: 20px; /* Add padding to the left for each cell */
        padding-right: 20px; /* Add padding to the right for each cell */
    }
</style>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Genre</th>
        <th>Description</th>
        <th>Date Added</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.genre}}</td>
            <td>{{item.description}}</td>
            <td>{{item.date_added}}</td>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="increment" value="{{ item.id }}">
                        Increment Amount
                    </button>
                    <button type="submit" name="decrement" value="{{ item.id }}">
                        Decrease Amount
                    </button>
                    <button type="submit" name="delete" value="{{ item.id }}">
                        Delete Item
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Tambahkan Bukumu!
    </button>
</a>
<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}